<!DOCTYPE html>
<!-- Template Welcome -->
<!-- Generated Time: <?php echo $time;?> -->
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />

    <title><?php echo $title;?></title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Monda|Julius+Sans+One|Merriweather+Sans|Noto+Sans|Open+Sans" />
    <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/pages/default.css" />

    <script language="javascript" type="text/javascript" src="/static/js/zcy/zcy.core.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jquery/jquery-1.9.1.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jquery/jquery-ui-1.10.3.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jquery/jquery.animate-shadow-min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jquery/jquery.hashchange.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/shortcut.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/respond.min.js"></script>
    
    <script language="javascript" type="text/javascript" src="/static/js/zcy/zcy.notification.js"></script>
    <!--[if lt IE 9]>
        <script language="javascript" type="text/javascript" src="/static/js/html5shiv.js"></script>
    <![endif]-->
    
    <!-- Nivo slider -->
    <link rel="stylesheet" href="/static/css/nivoslider/default/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/nivoslider/light/light.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/nivoslider/dark/dark.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/nivoslider/bar/bar.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/nivoslider/nivo-slider.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/static/js/jquery/jquery.nivo.slider.pack.js"></script>
    <!-- /Nivo slider  -->

</head>
<body>
    <div class="zcy-navbar">
        <div class="zcy-container">
            <ul class="zcy-inline">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="//tgifhacks.ntuoss.com/">TGIFHacks</a></li>
                <li><a href="/projects/">Projects</a></li>
                <li><a href="/lessons/">Lessons</a></li>
                <li><a href="/people/">People</a></li>
                <li><a href="/sponsorship/">Sponsorship</a></li>
            </ul>
            <div class="zcy-mailing">
                <div class="text">Join our mailing list: <input type="email" class="email" id="mailinglist" /><input type="button" class="submit" value="Join!" id="submitmailinglist" /></div>
            </div>
        </div>
    </div>
    <div class="zcy-title">
        <div class="zcy-container">
            <div class="zcy-title-logo">
                <a href="/"><img border="0" src="/static/image/logo.png" alt="NTUOSS" /></a>
            </div>
            <div class="zcy-title-text">
                <p><span class="zcy-ntu">Nanyang Technological University</span></p>
                <h1><span class="zcy-oss-open">Open</span> <span class="zcy-oss-source">Source</span> <span class="zcy-oss-society">Society</span></h1>
            </div>
            <div class="zcy-title-social">
                <a class="zcy-title-social-href" href="https://github.com/ntuoss"><span style="background-image: url('/static/image/github.png');"></span></a>
                <a class="zcy-title-social-href" href="https://www.facebook.com/ntuoss"><span style="background-image: url('/static/image/facebook.png');"></span></a>
                <a class="zcy-title-social-href" href="https://twitter.com/ntuoss"><span style="background-image: url('/static/image/twitter.png');"></span></a>
            </div>
        </div>
    </div>
    <div class="zcy-body">
        <div class="zcy-container">
            <div class="zcy-gallery">
                <div class="tg_slideshow">
                    <div class="slider-wrapper theme-default">
                        <div id="slider" class="nivoSlider">
                            <img src="/static/image/welcome/1_s.jpg" data-thumb="/static/image/welcome/1.jpg" alt="" data-transition="boxRainReverse"/>
                            <img src="/static/image/welcome/2_s.jpg" data-thumb="/static/image/welcome/2.jpg" alt="" data-transition="boxRainGrowReverse" />
                            <img src="/static/image/welcome/3_s.jpg" data-thumb="/static/image/welcome/3.jpg" alt="" data-transition="boxRainGrow"/>
                            <img src="/static/image/welcome/6_s.jpg" data-thumb="/static/image/welcome/6.jpg" alt="" data-transition="fold"/>
                            <img src="/static/image/welcome/5_s.jpg" data-thumb="/static/image/welcome/5.jpg" alt="" data-transition="fade"/>
                        </div>
                        <div id="htmlcaption" class="nivo-html-caption">
                            <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>. 
                        </div>
                    </div>
                </div>
            </div>
            <div class="zcy-intro">
                <div class="zcy-intro-item">
                    <div class="zcy-intro-title">
                        Build and Break Technology
                    </div>
                    <div class="zcy-intro-content">
                        The Open Source Society (OSS) is a student community at the Nanyang Technological University helping to promte the value and importance of Open Source in NTU. We attract students of common technical interests to foster a community of engineers, hackers and builders to explore their interests in technology and share their knowledge and expertise with others. 
                        <br><br>

                        Through our <a href="//tgifhacks.ntuoss.com/">weekly meetings</a>, we help students learn practical coding skills, find partners to work with on interesting projects and also help promote the value and importance of contributing to open source development. 
                        <br><br>

                        We are NTU's resident hackers and we like to build things. That's why you should hack with us! 
                        <br><br> 

                    </div>
                </div>
            </div>
        </div>
        <div class="zcy-footer" style="border-top: 1px solid #ccc; background-color: #eee; text-align: center; padding: 12px; margin-top: 24px; font-size: 14px; color: #666;">
            Copyleft (&#390;) 2013 NTUOSS. Write to us: hackers@ntuoss.com</a>. 
        </div>
    </div>
    <script type="text/javascript">
        $(window).load(function() {
            $('#slider').nivoSlider({"pauseTime": 4000});
        });
    </script>
    <script type="text/javascript">
        $('#submitmailinglist').bind('click', function() {
            zcy.alert('Processing...');
            $.post('/mailinglist', {'email': $('#mailinglist').val()}, function(data) {
                var d = JSON.parse(data);
                if (d && (d.status == 0)) {
                    zcy.alert('You have been added to mailing list successfully! (Transaction: ' + d.transactioncode + ')');
                } else {
                    zcy.alert('An error occured while adding you to mailing list.');
                }
            });
        });
    </script>
</body>
</html>