<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />

    <title><?php echo $title;?></title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Monda|Julius+Sans+One|Merriweather+Sans|Noto+Sans|Open+Sans" />
    <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/pages/people.css" />

    <script language="javascript" type="text/javascript" src="/static/js/zcy/zcy.core.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jquery/jquery-1.9.1.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jquery/jquery-ui-1.10.3.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jquery/jquery.animate-shadow-min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jquery/jquery.hashchange.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/shortcut.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/respond.min.js"></script>
    <!--[if lt IE 9]>
        <script language="javascript" type="text/javascript" src="/static/js/html5shiv.js"></script>
    <![endif]-->

    <script language="javascript" type="text/javascript" src="/static/js/zcy/zcy.dropdown.js"></script>

</head>
<body>
    <div class="zcy-navbar">
        <div class="zcy-container">
            <ul class="zcy-inline">
                <li><a href="/">Home</a></li>
                <li><a href="//tgifhacks.ntuoss.com/">TGIFHacks</a></li>
                <li><a href="/projects/">Projects</a></li>
                <li><a href="/lessons/">Lessons</a></li>
                <li class="active"><a href="/people/">People</a></li>
                <li><a href="/sponsorship/">Sponsorship</a></li>
            </ul>
            <div class="zcy-mailing">
                <div class="text">Join our mailing list: <input type="email" class="email" /><input type="button" class="submit" value="Join!" /></div>
            </div>
        </div>
    </div>
    <div class="zcy-title">
        <div class="zcy-container">
            <div class="zcy-title-logo">
                <a href="/"><img border="0" src="/static/image/logo.png" alt="NTUOSS" /></a>
            </div>
            <div class="zcy-title-text">
                <p><span class="zcy-ntu">Nanyang Technological University</span></p>
                <h1><span class="zcy-oss-open">Open</span> <span class="zcy-oss-source">Source</span> <span class="zcy-oss-society">Society</span></h1>
            </div>
            <div class="zcy-title-social">
                <a class="zcy-title-social-href" href="https://github.com/ntuoss"><span style="background-image: url('/static/image/github.png');"></span></a>
                <a class="zcy-title-social-href" href="https://www.facebook.com/ntuoss"><span style="background-image: url('/static/image/facebook.png');"></span></a>
                <a class="zcy-title-social-href" href="https://twitter.com/ntuoss"><span style="background-image: url('/static/image/twitter.png');"></span></a>
            </div>
        </div>
    </div>
    <div class="zcy-body">
        <div class="zcy-container">
            <h4>
                These are the guys who get things done and keep them running while also ensuring that the hackers never go hungry. 
            </h4>
            <h3>Management committee</h3>
            <div class="zcy-people-list">
            <hr />
                <?php
                    foreach($management_array as $k => $v){
                    echo '
                    <div class="zcy-people-item">
                        <p>'.$k.'</p>
                        <p>'.$v.'</p>
                    </div>';
                    }
                ?>
            </div>
            <h3>Members</h3>
            <div class="zcy-people-list">
            <hr />
                <?php
                    foreach($member_array as $k => $v){
                    echo '
                    <div class="zdy-member-item">
                        <p>'.$v.'</p>
                    </div>';
                    }
                ?>
            </div>
        </div>
    </div>
</body>
</html>