<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />

    <title><?php echo $title;?></title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Monda|Julius+Sans+One|Merriweather+Sans|Noto+Sans|Open+Sans" />
    <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/zcy/zcy.dropdown.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/zcy/zcy.flexiblesort.css" />

    <script language="javascript" type="text/javascript" src="/static/js/zcy/zcy.core.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jquery/jquery-1.9.1.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jquery/jquery-ui-1.10.3.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jquery/jquery.animate-shadow-min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jquery/jquery.hashchange.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/shortcut.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/respond.min.js"></script>
    
    <script language="javascript" type="text/javascript" src="/static/js/zcy/zcy.notification.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/zcy/zcy.dropdown.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/zcy/zcy.flexiblesort.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/pages/projects.js"></script>
    <!--[if lt IE 9]>
        <script language="javascript" type="text/javascript" src="/static/js/html5shiv.js"></script>
    <![endif]-->

</head>
<body>
    <div class="zcy-navbar">
        <div class="zcy-container">
            <ul class="zcy-inline">
                <li><a href="/">Home</a></li>
                <li><a href="//tgifhacks.ntuoss.com/">TGIFHacks</a></li>
                <li class="active"><a href="/projects/">Projects</a></li>
                <li><a href="/lessons/">Lessons</a></li>
                <!-- li><a href="/people/">People</a></li -->
                <li><a href="/sponsorship/">Sponsorship</a></li>
            </ul>
            <div class="zcy-mailing">
                <div class="text">Join our mailing list: <input type="email" class="email" id="mailinglist" /><input type="button" class="submit" value="Join!" id="submitmailinglist" /></div>
            </div>
        </div>
    </div>
    <div class="zcy-title">
        <div class="zcy-container">
            <div class="zcy-title-logo">
                <a href="/"><img border="0" src="/static/image/logo.png" alt="NTUOSS" /></a>
            </div>
            <div class="zcy-title-text">
                <p><span class="zcy-ntu">Nanyang Technological University</span></p>
                <h1><span class="zcy-oss-open">Open</span> <span class="zcy-oss-source">Source</span> <span class="zcy-oss-society">Society</span></h1>
            </div>
            <div class="zcy-title-social">
                <a class="zcy-title-social-href" href="https://github.com/ntuoss"><span style="background-image: url('/static/image/github.png');"></span></a>
                <a class="zcy-title-social-href" href="https://www.facebook.com/ntuoss"><span style="background-image: url('/static/image/facebook.png');"></span></a>
                <a class="zcy-title-social-href" href="https://twitter.com/ntuoss"><span style="background-image: url('/static/image/twitter.png');"></span></a>
            </div>
        </div>
    </div>
    <div class="zcy-body">
        <div class="zcy-container">
            <div class="zcy-options" style="padding:8px 32px;margin:8px;border-bottom:1px solid #ccc;line-height:1.2;">
                <span class="zcy-option">
                    <div class="zcy-dropdown">
                        <span>Sort by </span>
                        <div class="zcy-dropdown-wrapper">
                            <a>
                                <span class="sort-by-label">latest first (default)</span>
                            </a>
                            <div class="zcy-dropdown-ul-wrapper">
                                <ul>
                                    <li onclick="zcy.extend.sortBy.call(this, 'latest');">latest first (default)</li>
                                    <li onclick="zcy.extend.sortBy.call(this, 'votes');">most votes first</li>
                                    <li onclick="zcy.extend.sortBy.call(this, 'views');">most views first</li>
                                    <li onclick="zcy.extend.sortBy.call(this, 'random');">random</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
            <div class="zcy-gridview">
                <div class="zcy-gridview-element" style="position:relative;display:inline-block;*display:inline;height:240px;width:180px;background-color:#eee;margin:24px;box-shadow:0px 0px 6px #333;">
                    <div class="zcy-gridview-element-preview" style="position:absolute;width:100%;height:100%;"></div>
                    <div class="zcy-gridview-element-description" style="position:absolute;opacity:0.8;left:-5%;width: 110%;bottom:15%;padding:5px 0px;color:#eee;box-shadow:2px 2px 4px #666;text-align:center;overflow:hidden;background-color:#333;">Description lorem ipsum zcy</div>
                </div>
                <div class="zcy-gridview-element" style="position:relative;display:inline-block;*display:inline;height:240px;width:180px;background-color:#eee;margin:24px;">
                    <div class="zcy-gridview-element-preview" style="position:absolute;width:100%;height:100%;"></div>
                    <div class="zcy-gridview-element-description" style="position:absolute;opacity:0.8;left:-5%;width: 110%;bottom:15%;padding:5px 0px;color:#eee;box-shadow:2px 2px 4px #666;text-align:center;overflow:hidden;background-color:#333;">Description lorem ipsum zcy</div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('#submitmailinglist').bind('click', function() {
            zcy.alert('Processing...');
            $.post('/mailinglist', {'email': $('#mailinglist').val()}, function(data) {
                var d = JSON.parse(data);
                if (d && (d.status == 0)) {
                    zcy.alert('You have been added to mailing list successfully! (Transaction: ' + d.transactioncode + ')');
                } else {
                    zcy.alert('An error occured while adding you to mailing list.');
                }
            });
        });
    </script>
</body>
</html>
