<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />

    <title><?php echo $title;?></title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Monda|Julius+Sans+One|Merriweather+Sans" />
    <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/zcy/dropdown.css" />

    <script language="javascript" type="text/javascript" src="/static/js/zcy/zcy.core.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jquery/jquery-1.9.1.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jquery/jquery-ui-1.10.3.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jquery/jquery.animate-shadow-min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jquery/jquery.hashchange.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/shortcut.js"></script>
    <script type="text/javascript" src="/static/js/css3-mediaqueries.js"></script>
    <!--[if lt IE 9]>
        <script language="javascript" type="text/javascript" src="/static/js/html5shiv.js"></script>
    <![endif]-->

    <script language="javascript" type="text/javascript" src="/static/js/zcy/zcy.dropdown.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/zcy/zcy.customize.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/zcy/zcy.gallery.js"></script>
    <style>
    .zcy-gallery-item {
        position: absolute;
        top: 0px;
        left: 0px;
        display: inline-block;
        width: 160px; height: 160px;
        background-color: #eee;
        box-shadow: 2px 2px 4px #ccc;
        border: #ccc;
        margin: 8px;
        padding: 0px;
        line-height: 0;
        cursor: pointer !important;
    }
    .zcy-gallery-wrapper {
        position: relative;
        margin: 12px 24px;
        background-color: #f8f8f8;
        border: 1px solid #eee;
        line-height: 0;
        padding: 8px;
        border-left: 4px solid #034;
    }
    </style>
    <script>
    $(document).ready(function() {
        zcy.customize('events', function(onoff) {
            console.log('events ' + onoff);
            if (onoff) {
                $('<div class="zcy-gallery-wrapper zcy-events">' + 
                    '<p>Upcoming Events</p>' + 
                    '<div class="zcy-gallery-events"></div>' + 
                '</div>').animate({'opacity': 0}, 0).prependTo('div.zcy-gallery-list');
                zcy.gallery('.zcy-gallery-events', function(index){
                    var colors = [
                        '#a4c400', '#60a917', '#008a00', '#00aba9',
                        '#1ba1e2', '#0050ef', '#6a00ff', '#aa00ff',
                        '#fa72d0', '#d80073', '#a20025', '#e51400',
                        '#fa6800', '#f0a30a', '#e3c800', '#825a2c',
                        '#6d8764', '#647687', '#76608a', '#87794e']

                    if (index > 100) {
                        return {status: zcy.gallery.status.LOAD_END, dom: '<div class="zcy-gallery-item">ERROR</div>'};
                    } else {
                        return {status: zcy.gallery.status.LOAD_SUCCEED, dom: '<div class="zcy-gallery-item" style="background-color: ' + colors[Math.floor(Math.random() * colors.length)] + ';">' + index + '</div>'};
                    }
                }, function(index) {
                    alert('Element with index ' + index + ' was clicked.');
                });
                $('.zcy-events').animate({'left': -48,'top': -4}, 0).animate({'opacity': 1, 'left': 0, 'top': 0}, 400);
            } else {
                $('.zcy-events').fadeTo(200, 0).slideUp(function() {$(this).remove()});
            }
        }, $('.zcy-customize-events'), 'Ctrl+1');
        
        zcy.customize('projects', function(onoff) {
            console.log('projects ' + onoff);
            if (onoff) {
                $('<div class="zcy-gallery-wrapper zcy-projects">' + 
                    '<p>Projects</p>' + 
                    '<div class="zcy-gallery-projects"></div>' + 
                '</div>').animate({'opacity': 0}, 0).prependTo('div.zcy-gallery-list');
                zcy.gallery('.zcy-gallery-projects', function(index){
                    var colors = [
                        '#a4c400', '#60a917', '#008a00', '#00aba9',
                        '#1ba1e2', '#0050ef', '#6a00ff', '#aa00ff',
                        '#fa72d0', '#d80073', '#a20025', '#e51400',
                        '#fa6800', '#f0a30a', '#e3c800', '#825a2c',
                        '#6d8764', '#647687', '#76608a', '#87794e']

                    if (index > 100) {
                        return {status: zcy.gallery.status.LOAD_END, dom: '<div class="zcy-gallery-item">ERROR</div>'};
                    } else {
                        return {status: zcy.gallery.status.LOAD_SUCCEED, dom: '<div class="zcy-gallery-item" style="background-color: ' + colors[Math.floor(Math.random() * colors.length)] + ';">' + index + '</div>'};
                    }
                }, function(index) {
                    alert('Element with index ' + index + ' was clicked.');
                });
                $('.zcy-projects').animate({'left': -48,'top': -4}, 0).animate({'opacity': 1, 'left': 0, 'top': 0}, 400);
            } else {
                $('.zcy-projects').fadeTo(200, 0).slideUp(function() {$(this).remove()});
            }
        }, $('.zcy-customize-projects'), 'Ctrl+2');
        
        zcy.customize('votes', function(onoff) {
            console.log('votes ' + onoff);
            if (onoff) {
                $('<div class="zcy-gallery-wrapper zcy-votes">' + 
                    '<p>Votes</p>' + 
                    '<div class="zcy-gallery-votes"></div>' + 
                '</div>').animate({'opacity': 0}, 0).prependTo('div.zcy-gallery-list');
                zcy.gallery('.zcy-gallery-votes', function(index){
                    var colors = [
                        '#a4c400', '#60a917', '#008a00', '#00aba9',
                        '#1ba1e2', '#0050ef', '#6a00ff', '#aa00ff',
                        '#fa72d0', '#d80073', '#a20025', '#e51400',
                        '#fa6800', '#f0a30a', '#e3c800', '#825a2c',
                        '#6d8764', '#647687', '#76608a', '#87794e']

                    if (index > 100) {
                        return {status: zcy.gallery.status.LOAD_END, dom: '<div class="zcy-gallery-item">ERROR</div>'};
                    } else {
                        return {status: zcy.gallery.status.LOAD_SUCCEED, dom: '<div class="zcy-gallery-item" style="background-color: ' + colors[Math.floor(Math.random() * colors.length)] + ';">' + index + '</div>'};
                    }
                }, function(index) {
                    alert('Element with index ' + index + ' was clicked.');
                });
                $('.zcy-votes').animate({'left': -48,'top': -4}, 0).animate({'opacity': 1, 'left': 0, 'top': 0}, 400);
            } else {
                $('.zcy-votes').fadeTo(200, 0).slideUp(function() {$(this).remove()});
            }
        }, $('.zcy-customize-votes'), 'Ctrl+V');
    });
    </script>

    <style>

    </style>
</head>
<body>
    <div class="zcy-title">
        <div class="zcy-title-wrapper">
            <p><span class="zcy-ntu">Nanyang Techonological University</span></p>
            <h1><span class="zcy-oss-open">Open</span> <span class="zcy-oss-source">Source</span> <span class="zcy-oss-society">Society</span></h1>
            <div class="zcy-title-logo">
                <a href="/"><img border="0" src="/static/image/logo.png" alt="NTUOSS" /></a>
            </div>
        </div>
        <div class="zcy-title-menu">
            <div class="zcy-dropdown">
                <button>
                <span>Choose feed</span>
                </button>
                <ul>
                    <li class="zcy-customize-events">Upcoming events</li>
                    <li class="zcy-customize-projects">Projects</li>
                    <li class="zcy-customize-votes">Votings</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="zcy-sidebar">
    
    </div>
    <div class="zcy-main">
        <div class="zcy-gallery-list">
        </div>
    </div>
    <div>
        <p>Template Welcome</p>
        <p>Current Time is <strong><?php echo $time;?></strong>.</p>
    </div>
</body>
</html>