RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} ^/?static/? [NC]
RewriteRule ^(.*)$ $1 [L]
RewriteCond %{REQUEST_URI} ^/?template/? [NC]
RewriteRule ^.*$ - [R=404,L]

RewriteRule ^/?$ rpc.php?command=&param= [NC,NE]

RewriteRule ^/?([a-z]{1,16})/?$ rpc.php?command=$1&param= [NC,L]
RewriteRule ^/?([a-z]{1,16})/(.*)/?$ rpc.php?command=$1&param=$2 [NC,L]