@-ms-viewport {
  width: device-width;
}

html, body {
    position: absolute;
    margin: 0px;
    padding: 0px;
    background-color: #fefefe;
    width: 100%;
    height: 100%;
    font-family: 'Merriweather Sans';
    overflow: auto;
}

div.zcy-container {
    position: relative;
    width: 980px;
    margin: 0px auto;
    height: 100%;
}


div.zcy-navbar {
    position: fixed;
    width: 100%;
    background-color: #111;
    margin: 0px;
    padding: 0px;
    line-height: 1.8;
    min-width: 980px;
    height: 32px;
    z-index: 32;
    -moz-box-shadow: 1px 1px 4px #666;
    -webkit-box-shadow: 1px 1px 4px #666;
    box-shadow: 1px 1px 4px #666;
}
div.zcy-navbar ul {
    display: block;
    padding: 0px 8px;
    margin: 0px;
    position: relative;
    height: 32px;
    vertical-align: top;
}
div.zcy-navbar ul li {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    padding: 0px 8px;
    height: 100%;
    position: relative;
    margin: 0px;
    vertical-align: top;
}
div.zcy-navbar ul li.active {
    border-bottom: 3px solid #1ba1e2;
}
div.zcy-navbarul li.active a{
    color: #1ba1e2 !important;
}
div.zcy-navbar ul li:hover {
    background-color: #444;
}
div.zcy-navbar ul li a {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    position: relative;
    text-decoration: none;
    color: #eee;
    font-family: 'Noto Sans';
    font-size: 14px;
    vertical-align: bottom;
    padding-top: 4px;
}
div.zcy-navbar ul li:hover a{
    color: #e3c800;
}
div.zcy-navbar div.zcy-mailing {
    position: absolute;
    *zoom: 1;
    *display: inline;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #1ba1e2;
    line-height: 1.8;
    padding: 0px 8px;
    font-size: 14px;
    color: #eee;
    margin: 4px;
    border-radius: 2px;
}
div.zcy-navbar div.zcy-mailing div.text {
    bottom: 0px;
}
div.zcy-navbar div.zcy-mailing input.email {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    background-color: #fefefe;
    border: 0px;
    font-size: 14px;
    width: 240px;
    font-family: consolas;
    margin: 0px 4px;
}
div.zcy-navbar div.zcy-mailing input.submit {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    background-color: #333;
    border: 1px solid #111;
    color: #eee;
    margin-left: 4px;
}


div.zcy-title {
    position: relative;
    height: 80px;
    background-color: #eee;
    margin: 32px 0px 0px 0px;
    padding: 0px;
    border-bottom: 1px solid #ccc;
}
div.zcy-title div.zcy-title-logo {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 16px;
}
div.zcy-title div.zcy-title-text {
    position: absolute;
    left: 128px;
    top: 16px;
    line-height: 1;
}
div.zcy-title div.zcy-title-text p, div.zcy-title div.zcy-title-text h1 {
    margin: 0px;
}
div.zcy-title div.zcy-title-social {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding: 16px 32px;
    border-left: 2px solid #666;
    border-right: 2px solid #666;
    background-color: #fefefe;
}
div.zcy-title div.zcy-title-social span {
    display: inline-block;
    width: 32px;
    height: 32px;
}
.zcy-ntu {
    color: #c60c30;
}


div.zcy-body {
    position: relative;
    margin: 0px;
}